{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "diego.paniagua@habber.com",
      "Space": "diego.paniagua"
    },
    "Name": "E-sommelier-dialog",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}